// Color Choice
$primary-color: #fff;
$primary-color-light: #fff;
$primary-color-dark: #fff;
$secondary-color: #fff;
$secondary-color-light: #fff;
$secondary-color-dark: #fff;
$accent-color: #fff;
$accent-color-light: #fff;
$accent-color-dark: #fff;

// Font Size
$font-size-sm: 2.5em;
$font-size-m: 2.5em;
$font-size-l: 2.5em;
$font-size-xl: 2.5em;

// Default template component sizes | TBD