@import 'variable';

.exerciseSelect {
  height: 25vh; 
  text-transform: capitalize;
}

.addDiv {
  display: flex;
  flex-direction: row;
  margin: 5vh 0;
  width: 60vw;
  & > button {
    margin: 0 0.2rem;
    text-transform: capitalize;
  }
}

.exerciseContainer {
  margin: 2.5vh 0;
  & > div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem 0;
    & > button {
      flex: 1;
      margin: auto;
    }
    & > p {
      flex: 8;
      text-transform: capitalize;
      padding-left: 1rem;
      margin: auto;
    }
  }
}

.exerciseBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: start;
  & > button {
    margin: 2.5vh 0 0;
    width: 50%;
  }
}
