.addFriend{
  display: flex; 
  justify-content: center;
  place-items: center;
  margin-bottom: 5vh;
  & > input {
    flex: 8;
    margin: auto 4vw auto auto;
  }
  & > button {
    height: 5vh;
    flex: 1;
    margin: auto;
  }
}

.pendingFriends {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  place-items: center;
  & > p {
    flex: 8;
    text-align: left;
  }
  & > button { 
    flex: 2;
    margin: 0.2rem;
  }
}

.acceptFriends {
  &:hover {
    background: #00a100;
  }
}

.declineFriends {
  &:hover{
    background: #ff5d5d;
  }
}

.friendList {
  margin-top: 5vh;
  cursor: pointer;
  & section > h4 {
    text-align: left;
  }
  
  // header block
  & section > .blockHeader {
    display: flex;
    & > h4 {
      flex: 1;
      margin: 0;
      &:first-of-type {
        text-align: left;
      }
      &:last-of-type {
        text-align: right;
      }
    }
  }
}
