@import 'variable';

.friendPage {
  & > .map {
    margin: 2.5vh;
    border-radius: 0.25rem;
    border: solid black 1px;
    height: 40vh;
  }
  & > section {
    & > div {
      & > section {
        & > div {
          & p {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
}
