@import "variable";

main {
  display: grid; 
  place-items: center;
}

.oauth {
  margin-top: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.oauth > div:first-of-type {
  width: 30vw;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  text-align: start;
}

input {
  margin-bottom: 2.5vh;
  padding: 0.25rem 0.5rem;
}

button {
  transition: all 0.25s ease-in-out;
  border-radius: 0.25rem;
  width: 70%;
  padding: 0.5rem 0;
  margin: 5vh auto auto;
  background: white;
  color: black;
  border: solid 1px black;
  &:hover {
    border: solid 1px white;
    background: darkorange;
    color: white;
  }
}
