@import 'variable';

.profileDate {
  padding-top: 2.5vh;
  display: flex;
}

.profileInformation {
  margin-top: 5vh;
  padding: 5vh;
  border-radius: 0.25rem;
  border: solid 1px black;
  & > img {
    margin: auto;
    max-width: 150px;
    padding: 0.5rem;
    border-radius: 1000rem;
    border: solid 1px black;
  }
  & > h4 {
    text-align: left;
    margin: 1.25rem;
  }
}