@import 'variable';

.profileHeader {
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-top: 5vh;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px;
  & > div {
    height: 30vh;
    &:first-of-type {
      flex: 2;
      position: relative;
      & > div {
        background-image: url("https://thispersondoesnotexist.com/");
        width: auto;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &:last-of-type {
      text-align: left;
      flex: 4;
      padding: 2rem;
      & > p {
        margin: 0;
      }
    }
  }
}

.profileEdit {
  margin-top: 5vh;
  display: flex;
  width: 50%;
  & > button {
    margin: 0.2rem;
  }
}

.profileDetail {
  margin-top: 5vh;
  & > div {
    text-align: left;
    & > p {
      font-weight: bolder;
      font-size: 1.5rem;
      margin: 0
    }
    & > hr {
      margin: 0;
    }
  }
}