@import "../variable";

.friendCard {
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  
  & > div {
    display: flex;
    border: solid white 1px;
    border-radius: 0.5rem;
    margin-bottom: 2.5vh;
    transition: all ease-out 0.2s;
    justify-content: center;
    align-content: center;
    
    & > p {
      flex: 8;
      text-align: left;
      margin: auto;
    }
    
    & > button {
      flex: 2;
      margin: 0.2rem;
    }
  }
}